
{% extends 'base.html' %}
{% block title %}About{% endblock title %}

{% block body %}
<div class='container'>
<h1 class='text-center my-2 ' style="font-size:50px">About Us</h1>
      <p style="font-family:verdana">Thanks to our rich experience of more than 15 years in the Jewel Gold industry, 
      we have achieved a successful status in the domestic and national arena. 
      The vast majority of industry knowledge has enabled us to provide our clients with quality products.
       All of this has increased our market value and therefore made us more selective in our clients.</p>
       <p style="font-family:verdana"> 
    Today, there is a growing interest in unique jewelry designs that make a lasting statement. 
    One of the best ways to highlight personality is to wear a piece of jewelry that is as unique as any other person. 
    If you are a designer, manufacturer, or want to design your own real jewelry line and wish to make Gold beads
      then we can provide you with high quality handmade i.e.: 14 KT , 18 KT & 22 KT Gold beads.</p>
    <p style="font-family:verdana">We offer a full line of 70+ Indian gold beads, artificial beads, gemset beads. 
    If you have requirements for a custom gold design or white gold parts that we do not carry,
     please call us and we will assist you with your custom order from construction to production.</p>
     
     <h1 class='text-center my-2 ' style="font-size:50px">Our Vision</h1>
     <p style="font-family:verdana">We firmly believe that our success depends on our customers. 
     Our strength lies in working with them to create value and trust, 
     as well as superior products, prompt service and competitive pricing. 
     This company has a clear idea of ​​fulfilling the cutomer requirement.</p>
<p style="font-family:verdana">We also owe our success to our people. Those who work with us on the same perspective.
 Trust, respect and healthy relationships with our employees have led to high performance over the years and 
 we strive hard to get the latest technology and production technology at least at prices that take into account the growth of AVDanaWala.
we focus on ensuring complete customer satisfaction, while fulfilling the expectations brought about by globalization. 
This is where your ideas turn into endless possibilities.</p>
</div>
{% endblock %}